
{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 4,
  "useTabs": false,
  "printWidth": 80,
  "jsxSingleQuote": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "trailingComma": "es5"
}
