.group {
    background-color: var(--mui-palette-background-default);
}

.header {
    background-color: var(--mui-palette-info-light);
}

.infoContainer {
    display: grid;
    grid-template-columns: 1fr auto;
    margin-bottom: 10px;
}
