.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    padding: 16px;
}